html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

/* Navbar */

#logo {
    height: 50px;
}

nav {
    opacity: 0.9;
}

nav li {
    cursor: pointer;
    font-size: 1.4em;
}

nav ul a {
    color: rgba(255, 255, 255, 0.6);
}

nav ul a:hover {
    color: #ffffff;
    transform: scale(1.1, 1.1);
}

@media only screen and (max-width:786px) {


    #logo {
        height: 40px;
    }

    nav ul li {
        font-size: 0.8em;
        color: red;
    }

    nav ul a:hover {
        color: #ffffff;
        transform: scale(0.9, 0.9);
    }

    nav ul a:active {
        color: #ffffff;
        transform: scale(1.1, 1.1);
    }

    .animate-bottom ul {
        float: left !important;
    }

}

/* Carousel */

.carousel-item {
    max-height: 70vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    color: #000000;
    font-style: italic;
    font-weight: 500;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #000000;
    margin: 0 4px;
}

@media only screen and (max-width:786px) {

    .carousel-caption h5 {
        font-size: 1em;
    }

    .carousel-caption p {
        font-size: 0.8em;
    }

    .carousel-indicators li {
        width: 0.8vh;
        height: 0.8vh;
    }
}

/* About US */

#aboutus {
    display: none;
}

.introduction {
    margin-top: 25vh;
    background-image: linear-gradient(90deg, rgb(139, 139, 139), rgb(206, 206, 54));
    background-image: -o-linear-gradient(90deg, rgb(139, 139, 139), rgb(206, 206, 54));
    background-image: -moz-linear-gradient(90deg, rgb(139, 139, 139), rgb(206, 206, 54));
    background-image: -webkit-linear-gradient(90deg, rgb(139, 139, 139), rgb(206, 206, 54));
    box-shadow: 0 0 6px #cccccc;
    height: 70vh;
    font-family: Sansita Swashed sans-serif;
    overflow-y: hidden;
    border-radius: 10px;
    padding: 4px 10px;
}

.introduction h1 {
    font-size: 3.5em;
    margin-top: 7vh;
}

.introduction p {
    font-size: 1.1em;
    text-align: left;
    font-weight: 500;
}

::selection {
    background-color: #000000;
    color: #ff0000;
}

@media only screen and (max-width:786px) {

    #aboutus {
        display: block;
    }

    .introduction {
        margin-top: 10vh;
    }

    .introduction h1 {
        font-size: 2em;
    }

    .introduction p {
        font-size: 0.8em;
        font-weight: 800;
    }
}

/* Contact US */

.jumbotron {
    margin-bottom: 0;
    margin-top: 25vh;
    transition: 3s;
    width: 0vw;
}

.contact-list,
.app-link {
    list-style: none;
}

.list-head a {

    color: black !important;
    /*linkhead editing */
    font-family: Roboto sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
}

.list-item a,
.policy li {
    /*Sub-links editing*/
    color: gray !important;
    font-family: Sansita Swashed sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.app-link li,
.policy li {
    display: inline-block;
}

.policy img {
    width: 4vw;
    height: 6vw;
}

.app-link img {
    width: 12vw;
    height: 8vh;
}

.app-link span {
    font-size: 24px;
    color: gray;
    letter-spacing: 5px;
}

.list-item a:hover {
    color: #000000 !important;
}

@media only screen and (max-width:786px) {

    .jumbotron {
        margin-top: 15vh;
        width: 100vw;
    }

    .list-head a {
        font-size: 1em;
    }

    .list-item a,
    .policy li {
        font-size: 0.8em;
    }

    .app-link img {
        width: 8vw;
        height: 4vw;
    }

    .app-link span {
        font-size: 12px;
        color: gray;
        letter-spacing: 2px;
    }

    /* Hover does not work in mobile as there is so no Cursor */
    .list-item a:active {
        color: #000000 !important;
    }
}

/* loader */

#loader {
    position: absolute !important;
    background-color: black;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    z-index: 1;
}

#loadtext {
    position: absolute !important;
    font-family: Roboto sans-serif;
    font-size: 2em;
    top: 52%;
    left: 30%;
    margin: -60px 0 0 -60px;
    z-index: 1;
    animation-name: load;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-name: load;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes load {
    0% {
        opacity: 0;
        left: 30%;
    }

    100% {
        opacity: 1;
        left: 52%;
    }
}

@-webkit-keyframes load {
    0% {
        opacity: 0;
        left: 30%;
    }

    100% {
        opacity: 1;
        left: 52%;
    }
}

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* Customers card */

#customers {
    margin-top: 20vh;
    padding-left: 50px;
    font-family: Sansita Swashed sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to left,
            rgba(7, 27, 82, 1) 0%,
            rgba(0, 128, 128, 1) 100%);
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}

.card-deck .card {
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    width: 180px;
    break-inside: avoid-column;
}

.card-deck .card:hover {
    transform: scale(1.05);
}

.card-body h4,
.card-text {
    font-size: 1em;
}

@media only screen and (max-width:574px) {

    .card-deck img {
        width: 60vw;
    }

    .card-deck .card {
        width: 60vw;
    }

    .card-body h4,
    .card-text {
        font-size: 0.8em;
    }

}